.prog-page{
    
    height: 70vh;
    border-right: 2px solid grey;
    padding: 2rem;
  
}

.prog1 {
 
    padding: 5%;
    color: aliceblue;
    text-align: right;
}

.image {
    margin-top: 3rem;
    padding: 1rem;
    border : 2px solid grey;
    border-radius: 2%;
}

.cols {
    padding: 1rem;
    text-align: center;
}

.rows {
    width: 70%;
    margin: auto;
    text-align: center;

}

p {
    color: grey;
}

h3 {
    color: aliceblue;
}