.port {
    color: aliceblue;
}

.centre {
    width: 50%;
    margin-left: 45%;
    padding: 0;
   padding-top: 2%;
   
 
}

.bar, .search {
    display: inline;
}   

h2 {
    color: aliceblue;
    margin-left: -10rem;
    margin-top: 3rem;
}