.port {
  color: aliceblue;
}

.centre {
  padding: 0;
  padding-top: 2%;
}

.bar,
.search {
  display: inline;
 
}

h2 {
  color: aliceblue;
  margin-top: 3rem;
  margin-left: -15rem;
}

.prog-page{
    
    height: 70vh;
    border-right: 2px solid grey;
    padding: 2rem;
  
}

.prog1 {
 
    padding: 5%;
    color: aliceblue;
    text-align: right;
}

.image {
    margin-top: 3rem;
    padding: 1rem;
    border : 2px solid grey;
    border-radius: 2%;
}

.cols {
    padding: 1rem;
    text-align: center;
}

.rows {
    width: 70%;
    margin: auto;
    text-align: center;

}

p {
    color: grey;
}

h3 {
    color: aliceblue;
}

.variables {
    margin: auto;
    margin-top: 3rem;
}

.light {
    background-color: rgba(248, 245, 245, 0.192);   
}

.btn {
    margin-left: 1rem;
}